In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("social_media_dataset.csv") 

print("Initial Shape:", df.shape)
df.head()

Initial Shape: (300, 15)

,Consumer ID,Customer Name,Age,Gender,Income (USD),Education Level,Social Media Usage (Hours/Day),Social Media Platforms,Influence Level,Purchase Decision,Product Category,Specific Product,Amount Spent (USD),Brand Name,City
0,1,Alice Johnson,28,Female,45000,Bachelor's,2.5,"Instagram, Twitter",Very Influential,Yes,Fashion,Dress,200,"Nike, Zara",New York
1,2,Bob Smith,35,Male,60000,Master's,1.8,"Facebook, Instagram",Somewhat Influential,Yes,Electronics,Smartphone,800,"Apple, Samsung",Los Angeles
2,3,Chris Taylor,22,Non-binary,32000,High School,4.0,"TikTok, Snapchat",Not Influential,No,NaN,NaN,0,NaN,Chicago
3,4,David Brown,40,Male,75000,PhD,3.2,"Facebook, LinkedIn",Very Influential,Yes,Food,Burger,50,McDonald's,Houston
4,5,Emily White,29,Female,55000,Bachelor's,2.0,"Instagram, TikTok",Somewhat Influential,Yes,Beauty,Makeup,100,Sephora,Miami

In [4]:
useful_cols = [
    "Consumer ID", "Age", "Gender", "Income (USD)", "Education Level",
    "Social Media Usage (Hours/Day)", "Social Media Platforms",
    "Influence Level", "Purchase Decision", "Amount Spent (USD)"
]
df = df[useful_cols]

In [5]:
df = df.dropna(subset=["Age", "Social Media Usage (Hours/Day)"])

In [6]:
df["Age"] = df["Age"].astype(int)
df["Social Media Usage (Hours/Day)"] = df["Social Media Usage (Hours/Day)"].astype(float)
df["Income (USD)"] = pd.to_numeric(df["Income (USD)"], errors="coerce")
df["Amount Spent (USD)"] = pd.to_numeric(df["Amount Spent (USD)"], errors="coerce")

In [7]:
df = df[(df["Age"] >= 10) & (df["Age"] <= 100)]
df = df[(df["Social Media Usage (Hours/Day)"] >= 0) & (df["Social Media Usage (Hours/Day)"] <= 24)]

In [ ]:
df["Gender"] = df["Gender"].fillna("Unknown")
df["Purchase Decision"] = df["Purchase Decision"].map({"Yes": 1, "No": 0})
df["Purchase Decision"] = df["Purchase Decision"].fillna(0)

In [9]:
df = df.dropna()

In [10]:
print("Cleaned Shape:", df.shape)
df.describe(include="all")

# Save cleaned version for further use
df.to_csv("cleaned_social_media.csv", index=False)

Cleaned Shape: (300, 10)